.textSlider{
    display: flex;
    background-color: brown;
    height: 80vh;
    padding: 100px 0 100px 0;
}

.proyectsText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 0 100px 0 200px;
    color: white;
}

.proyectsText > h3{
    margin-bottom: 30px;
    font-size: 100px;
}
.proyectsText > p{
    line-height: 1.5;
    font-size: 30px;    
}
.sliderContainer{
    width: 40%;
    }

.sliderContainer h3{
color: gray;
font-family: "Hind Madurai";
font-size: 20px;
}    

.sliderContainer p{
    color: gray;
    font-family: "Hind Madurai";
    font-size: 20px;
    }    

  
@media screen and (max-width:960px){
    .textSlider{
        display: flex;
        flex-direction: column;
    }
    
    .proyectsText{
        width: 100%;
    }

    .proyectsText h3{
        margin-bottom: 50px;
        font-size: 20px;
    }
    .proyectsText > p{
        line-height: 1.5;
        font-size: 15px;    
    }

    .sliderContainer{
        width: 80%;
    }    
    .sliderContainer > h3, .sliderContainer > P {
        font-size: 5px
    } 

}