.proyects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: brown;
    height: 100vh;
    width: 100%;    
}

.proyectsText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: white;
    padding: 0 100px 0 100px;
}

.proyectsText > h3{
    font-size: 100px;
}
.proyectsText > p{
    text-align: justify;
    line-height: 1.5;
    font-size: 25px;    
}



@media screen and (max-width:960px){
    .textSlider{
        display: flex;
        flex-direction: column;
    }
    
    .proyectsText{
        width: 100%;
    }

    .proyectsText h3{
        margin-bottom: 50px;
        font-size: 20px;
    }
    .proyectsText > p{
        line-height: 1.5;
        font-size: 15px;    
    }

    .sliderContainer{
        width: 60%;
    }    
    .sliderContainer > h3, .sliderContainer > P {
        font-size: 5px
    } 

}